<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Building Organizations</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <h1>Building Organizations</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {{range .BuildingOrganizations}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td><a href="/building_organization/{{.ID}}">View Details</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
