<!-- templates/project.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Construction Team Details</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <h1>Construction Team Details: {{.ConstructionTeam.Name}}</h1>
    <p><strong>ID:</strong> {{.ConstructionTeam.ID}}</p>
    <p><strong>Project ID:</strong> <a href="/project/{{.ConstructionTeam.ProjectID}}">{{.ConstructionTeam.ProjectID}}</a></p>

    <h2>Construction Team Resources</h2>
    <div class="resources">
        <a href="/construction_team/{{.ConstructionTeam.ID}}/work_types">Work Types</a>
    </div>
    <button onclick="deleteConstructionTeam({{.ConstructionTeam.ID}})">Delete Team</button>
</div>

<script>
    function deleteConstructionTeam(teamID) {
        if (confirm('Are you sure you want to delete this team?')) {
            fetch(`/construction_team/${teamID}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        alert('Team deleted successfully!');
                        window.location.href = '/construction_team'; // редирект на список расписаний
                    } else {
                        alert('Failed to delete construction_team.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    }
</script>
</body>
</html>