<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Construction System</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <h1>Construction System</h1>
    <div class="columns">
        <div class="column">
            <a href="/project">Projects</a>
            <a href="/management">Managements</a>
            <a href="/building_site">Building Sites</a>
            <a href="/machinery">Machinery</a>
        </div>
        <div class="column">
            <a href="/schedule">Schedules</a>
            <a href="/engineer">Engineers</a>
            <a href="/engineer_team">Engineer Teams</a>
            <a href="/construction_team">Construction Teams</a>
        </div>
    </div>
</div>
</body>
</html>
