<!-- templates/reports.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <h1>Reports</h1>
    <button onclick="window.location.href='/report/{{.ProjectID}}/create'">Create Report</button>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Project ID</th>
            <th>Report Creation Date</th>
            <th>Report Details</th>
        </tr>
        </thead>
        <tbody>
        {{range .Reports}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.ProjectID}}</td>
            <td>{{.ReportCreationDate.Format "02.01.2006"}}</td>
            <td><a href="/report/{{.ID}}">View Report</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
